[submodule "tweaks/YouPiP"]
	path = tweaks/YouPiP
	url = https://github.com/PoomSmart/YouPiP.git
[submodule "tweaks/YouGroupSettings"]
	path = tweaks/YouGroupSettings
	url = https://github.com/PoomSmart/YouGroupSettings.git
[submodule "tweaks/YTVideoOverlay"]
	path = tweaks/YTVideoOverlay
	url = https://github.com/PoomSmart/YTVideoOverlay.git
[submodule "tweaks/Return-YouTube-Dislikes"]
	path = tweaks/Return-YouTube-Dislikes
	url = https://github.com/PoomSmart/Return-YouTube-Dislikes.git
[submodule "tweaks/YTABConfig"]
	path = tweaks/YTABConfig
	url = https://github.com/PoomSmart/YTABConfig.git
[submodule "tweaks/YouQuality"]
	path = tweaks/YouQuality
	url = https://github.com/PoomSmart/YouQuality.git
[submodule "tweaks/DontEatMyContent"]
	path = tweaks/DontEatMyContent
	url = https://github.com/therealFoxster/DontEatMyContent.git
[submodule "tweaks/YTUHD"]
	path = tweaks/YTUHD
	url = https://github.com/Tonwalter888/YTUHD.git
[submodule "tweaks/iSponsorBlock"]
	path = tweaks/iSponsorBlock
	url = https://github.com/Galactic-Dev/iSponsorBlock.git
[submodule "tweaks/Alderis"]
	path = tweaks/Alderis
	url = https://github.com/hbang/Alderis.git
